<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            ระบบพัสดุ
            <small>Version 1.0</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">ระบบพัสดุ</h3>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-success" data-toggle="modal"
                                data-target="#modal-add-equipment" data-backdrop="static">
                                <i class="ace-icon fa fa-plus"></i>
                                เพิ่มพัสดุ
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ระบบพัสดุ</th>
                                    <th>ชื่อพัสดุ</th>
                                    <th>วันที่ซื้อ</th>
                                    <th>ผู้รับผิดชอบ</th>
                                    <th>ผู้บันทึก</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of equipment; let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ e.code }}</td>
                                    <td>{{ e.name }}</td>
                                    <td>{{ e.date_add }}</td>
                                    <td>{{ e.username }}</td>
                                    <td>{{ e.userid }}</td>
                                    <td>
                                        <button (click)="onEdit(e)" type="button" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-add-equipment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form enctype="multipart/form-data" class="form-horizontal" (ngSubmit)="onSubmit()">
                <div class="modal-header bg-blue">
                    <button (click)="onCancel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title center green">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ (edit)?'แก้ไข':'เพิ่ม' }}พัสดุ
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="position-relative">
                                    <div class="space-6"></div>
                                    <div class="form-group" [class.has-error]="errCode">
                                        <label for="code" class="col-sm-4 control-label no-padding-right">
                                            รหัสพัสดุ:
                                        </label>
                                        <label class="col-sm-7 block clearfix">
                                            <input [(ngModel)]="equ.code" type="text" class="form-control" name="code"
                                                id="code" placeholder="รหัสพัสดุ" (blur)="onCode(equ.code)"
                                                (keyup)="onCode(equ.code)" />
                                            <span class="help-block col-xs-12 col-sm-reset inline"
                                                style="font-size: 12px;" *ngIf="errCode">
                                                *จำเป็นต้องมีข้อมูล !
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label no-padding-right">
                                            พัสดุ:
                                        </label>
                                        <label class="col-sm-7 block clearfix">
                                            <select [(ngModel)]="equ.name" name="name" id="name"
                                                class="form-control select2" style="width: 100%;">
                                                <option *ngFor="let e of equName" [value]="e">
                                                    {{ e }}
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="form-group" [class.has-error]="errDateAdd">
                                        <label for="date_add" class="col-sm-4 control-label no-padding-right">
                                            วันที่ซื้อ:
                                        </label>
                                        <label class="col-sm-7 block clearfix">
                                            <input [(ngModel)]="equ.date_add" type="date" class="form-control"
                                                name="date_add" id="date_add" placeholder="YYYY-MM-DD"
                                                (blur)="onDateAdd(equ.date_add)" (keyup)="onDateAdd(equ.date_add)" />
                                            <span class="help-block col-xs-12 col-sm-reset inline"
                                                style="font-size: 12px;" *ngIf="errDateAdd">
                                                *จำเป็นต้องมีข้อมูล !
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-sm-4 control-label no-padding-right">
                                            ผู้รับผิดชอบ:
                                        </label>
                                        <label class="col-sm-7 block clearfix">
                                            <input [(ngModel)]="equ.username" type="text" class="form-control"
                                                name="username" id="username" placeholder="ผู้รับผิดชอบ" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <fieldset class="col-xs-6 col-sm-6 col-md-6">
                        <button (click)="onCancel()" type="button" class="pull-right btn btn-sm btn-default">
                            <i class="ace-icon fa fa-times-circle-o"></i>
                            <span class="bigger-110">ยกเลิก</span>
                        </button>
                    </fieldset>
                    <fieldset class="col-xs-6 col-sm-6 col-md-6">
                        <button type="submit" class="pull-left btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="bigger-110">{{ (edit)?'แก้ไข':'บันทึก' }}</span>
                        </button>
                    </fieldset>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>